.newcomer {
  background: #efeff4;
  overflow: hidden;
  padding-bottom: 0.3125rem;
}
.newcomer h3 {
  background: #ff5073;
  color: #fff;
  text-align: center;
  padding: 0.625rem 0;
}
.newcomer .n-tip {
  width: 3.125rem;
  margin-top: 0.625rem;
}
.newcomer .product-detail {
  position: relative;
  width: 48%;
  height: 17.5rem;
  float: left;
  background-color: #fff;
  padding: 0.625rem;
  margin-left: 1.5%;
  margin-top: 0.3125rem;
}
.newcomer .product-detail .product-img {
  width: 100%;
  min-height: 10rem;
  position: relative;
}
.newcomer .product-detail .product-img .groupon-out {
  position: absolute;
  width: 4.125rem;
  height: 4.125rem;
  border-radius: 50%;
  background: #666666;
  top: 50%;
  left: 50%;
  color: #fff;
  line-height: 4.0625rem;
  text-align: center;
  opacity: 0.6;
  margin-top: -2.0625rem;
  margin-left: -2.0625rem;
}
.newcomer .product-detail .product-img img {
  width: 100%;
}
.newcomer .product-detail .product-show .product-label {
  padding: 0rem 0.1875rem;
  font-size: 0.6875rem;
  color: #8050fb;
  border: 0.0625rem solid rgba(128, 80, 251, 0.6);
  border-radius: 0.0625rem;
  text-align: center;
  line-height: 0.9375rem;
  height: 0.9375rem;
  margin-top: 0.9375rem;
}
.newcomer .product-detail .product-show .ov2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-height: 2.25rem;
  margin-top: 0.3125rem;
  color: #333;
}
.newcomer .product-detail .product-show .discount {
  width: 2.1875rem;
  font-size: 0.75rem;
  margin-left: 0.625rem;
  margin-top: 0.3125rem;
  text-align: center;
  background-color: #ffe3f2;
  color: #ff75c0;
}
.newcomer .product-detail .product-show .in-num {
  height: 0.9375rem;
  font-size: 0.6875rem;
  color: #ff6f8c;
  background: #ffedf1;
  text-align: center;
  line-height: 0.9375rem;
  border-radius: 0.125rem;
  margin-top: 0.25rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  display: inline-block;
}
.newcomer .product-detail .product-show .price-box {
  margin-top: 0.3125rem;
}
.newcomer .product-detail .product-show .price-box .current-price {
  font-size: 1.125rem;
  color: #ff5073;
  display: inline-block;
}
.newcomer .product-detail .product-show .price-box .original-price {
  font-size: 0.75rem;
  color: #bbbbbb;
  display: inline-block;
}
.newcomer .product-detail .product-show .groupon-label {
  font-size: 0.875rem;
  border-radius: 0.125rem;
  background-color: #8152fb;
  color: #fff;
  margin-right: 0.625rem;
  height: 1.875rem;
  width: 5rem;
  position: absolute;
  bottom: 0.875rem;
  right: 0;
  text-align: center;
  line-height: 1.875rem;
}
.newcomer .product-detail .product-show .groupon-label-out {
  border-radius: 0.125rem;
  background-color: #b4b4b4;
  color: #fff;
  margin-right: 0.625rem;
  height: 1.875rem;
  width: 5rem;
  position: absolute;
  bottom: 0.625rem;
  right: 0;
  text-align: center;
  line-height: 1.875rem;
}
