<div class="countdown"  data-from="{{countdownFrom}}" data-to="{{countdownTo}}" style="background: url('{{countdownBg}}') no-repeat;background-size: cover;height:{{countdownHeight}}px">
    <div class="time-box " id="time-box"  align="center">
        <p>距离活动<span class="active-started-text ">结束</span><span class="active-not-text">开启</span>还有</p>
        <div class="left-time">
            <div class="day">
                <div class="card">
                    <span>0</span>
                </div>
                <div class="card">
                    <span>0</span>
                </div>
                <span>天</span>
            </div>
            <div class="hour">
                <div class="card">
                    <span>0</span>
                </div>
                <div class="card">
                    <span>0</span>
                </div>
                <span>时</span>
            </div>
            <div class="minute">
                <div class="card">
                    <span>0</span>
                </div>
                <div class="card">
                    <span>0</span>
                </div>
                <span>分</span>
            </div>
            <div class="second">
                <div class="card">
                    <span>0</span>
                </div>
                <div class="card">
                    <span>0</span>
                </div>
                <span>秒</span>
            </div>
        </div>
    </div>
</div>