<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    	<meta name="format-detection" content="telephone=no"/>
        <title>下载美美箱</title>    
    <link rel="stylesheet" href="/activity/css/src/app/download.css" />
</head>
    <body id="download" data-ios="{{config.ios}}" data-android="{{config.android}}" data-wechat="{{config.wechat}}">
    <img class='download-bg' src="/activity/img/static/img/download-img.jpg" alt="">    
<script src="/activity/js/src/app/download.js"></script>
</body>
</html>
