<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no" />
    {{> pc/script}}
    <title>{{#if config.root.title}}{{config.root.title}}{{else}}活动{{/if}}</title>
    <link rel="icon" href="/activity/common/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/activity/common/img/favicon.png" type="image/x-icon">

    <link rel='stylesheet' href="/activity/css/src/render/pc.css" />
</head>
<body style="{{#bgc config.root.bgColor}}{{/bgc}}" data-pis="{{config.serverConfig.pis}}" data-key="{{config.root.urlkey}}">
<div class="render_container">
    {{#each config.field}}
        {{#is type "l1"}}
            {{> pc/category}}
        {{/is}}
        {{#is type "img"}}
            {{> pc/img}}
        {{/is}}
        {{#is type "video"}}
            {{> pc/video}}
        {{/is}}
    {{/each}}
</div>

<script type="text/javascript" src="{{config.serverConfig.majs}}"></script>
<script src="/activity/js/build/src/views/render/pc.js?t=1492165968594"></script>
</body></html>