<div class="support"
     data-from="{{supportFrom}}"
     data-to="{{supportTo}}"
     data-startpv="{{startPv}}"
     data-endpv="{{endPv}}"
     style="background: {{supportBg}}"
>
    <div class="container" style="background: {{supportBg}}">
        <div class="look">
            <img src="/activity/common/img/eye_icon.png" alt="">
            <span class="text supportPeople">666</span>
        </div>
        <div class="gift"
             data-num="0"
             data-name="{{id}}"
             data-height="{{height}}"
             data-pic="{{#makeArr pic1 pic2 pic3 pic4 pic5}}{{/makeArr}}"
        >
            <img class="n"  src="/activity/common/img/gift.png" alt="">
            <img class="h" src="/activity/common/img/gift_h.png" alt="">
            <span class="text">送礼物</span>
            <div class="gift-box"
                 style="height:{{height}}"
            >
            </div>
        </div>
    </div>
</div>